<!DOCTYPE html>
<html lang="et">
<head>
  <meta charset="utf-8">
  <title>Remo Kurem, veebiprogrammeerimine</title>
</head>
<body>
  <img src="images/vp_banner_2025_AA.jpg" alt="Kursuse bänner">
  <h1>Remo Kurem, veebiprogrammeerimine</h1>
  <p>See leht on loodud <a href="https://www.tlu.ee">Tallinna Ülikoolis</a> veebiprogrammeerimise kurusel ja ei oma mõistlikku sisu.</p>
  <hr>
  <h2>Siin lehel leiad</h2>
  <ul>
	<li><a href="/timenow">Ajainfo</a></li>
	<li><a href="/vanasonad">Valik Eesti tuntud vanasõnu</a></li>
	<li><a href="/regvisit">Registreeri oma külastus</a></li>
  </ul>
</body>
</html>